<?xml version="1.0"?>
<launch>
  <arg name="angle_tolerance" default="0" />
  <arg name="ratio_threshold" default="0.3" />
  <arg name="time" default="0.05" />
  <arg name="speed_scale" default="1.0"/>
  <arg name="pc_type" default="octomap_from_socket"/>
  <arg name="robot2" default="false" />
  <arg name="source_pc_topic_name" default="/socket_pc"/>

  <include file="$(find denso_bringup)/launch/vs087_bringup/vs087_with_tercero_and_photoneo_bringup.launch">
    <arg name="angle_tolerance" value="$(arg angle_tolerance)" />
    <arg name="ratio_threshold" value="$(arg ratio_threshold)" />
    <arg name="time" value="$(arg time)" />
  </include>
  <node pkg="timed_roslaunch" type="timed_roslaunch.sh" name="point_cloud" args="16 $(find pointcloud_processing)/launch/$(arg pc_type).launch robot2:=$(arg robot2)" />
  <node pkg="timed_roslaunch" type="timed_roslaunch.sh" name="euclidean_cluster" args="16 $(find motoman_euclidean_cluster)/launch/euclidean_cluster.launch source_pc_topic_name:=$(arg source_pc_topic_name) robot2:=$(arg robot2)" />
</launch>