<?xml version="1.0"?>
<launch>
  <arg name="model_name" default="box" />
  <arg name="model_type" default="box" />
  <arg name="src_frame_name" default="world" />
  <arg name="model_gazebo_name" default="box" />

  <arg name="model" value="$(find denso_gazebo)/urdf/objects/$(arg model_type)/$(arg model_name).urdf.gazebo.xacro"/>
  <param name="$(arg model_name)_description" type="str" command="$(find xacro)/xacro --inorder $(arg model) box_m:=1.0 box_h:=0.05 box_w:=0.05 box_d:=0.07"/>

  <node name="spawn_box_urdf" pkg="gazebo_ros" type="spawn_model" args="-param $(arg model_name)_description -urdf -x 0.6 -y 0.15 -z 0.5 -R 0.0 -P 0.0 -Y 0.0 -model $(arg model_gazebo_name)" respawn="false" output="screen" />

  <node name="spawn_box_urdf2" pkg="gazebo_ros" type="spawn_model" args="-param $(arg model_name)_description -urdf -x 0.6 -y 0.5 -z 0.5 -R 0.0 -P 0.0 -Y 0.0 -model $(arg model_gazebo_name)_2" respawn="false" output="screen" />
  <node name="spawn_box_urdf3" pkg="gazebo_ros" type="spawn_model" args="-param $(arg model_name)_description -urdf -x 0.6 -y 0.85 -z 0.5 -R 0.0 -P 0.0 -Y 0.0 -model $(arg model_gazebo_name)_3" respawn="false" output="screen" />
  <node name="spawn_box_urdf4" pkg="gazebo_ros" type="spawn_model" args="-param $(arg model_name)_description -urdf -x 0.4 -y 0.15 -z 0.5 -R 0.0 -P 0.0 -Y 0.0 -model $(arg model_gazebo_name)_4" respawn="false" output="screen" />
  <node name="spawn_box_urdf5" pkg="gazebo_ros" type="spawn_model" args="-param $(arg model_name)_description -urdf -x 0.4 -y 0.495 -z 0.5 -R 0.0 -P 0.0 -Y 0.0 -model $(arg model_gazebo_name)_5" respawn="false" output="screen" />
  <node name="spawn_box_urdf6" pkg="gazebo_ros" type="spawn_model" args="-param $(arg model_name)_description -urdf -x 0.4 -y 0.85 -z 0.5 -R 0.0 -P 0.0 -Y 0.0 -model $(arg model_gazebo_name)_6" respawn="false" output="screen" />

</launch>
